.bgclassroom { background-image: url("../assets/images/classroom.gif");
  background-size: cover; width: 100dvw; height: 100dvh; z-index: -1;}
.bgclassroom::before {
  opacity: 1;
}
.bgclassroom::after {
  opacity: 1;
}
.p1 {
  transform: translate(35dvw, 54dvh);
}
.p2 {
  transform: translate(-5dvw, -52dvh);
}
.tbox1 {
  transform: translate(8dvw, -1dvh);
}
.tbox2 {
  width: 600px;
  transform: translate(-42dvw, -53dvh);
}
.lbox1 {
  width: 210px;
  transform: translate(15dvw, -30dvh);
}
.lbox2 {
  width: 210px;
  transform: translate(-1dvw, -1dvh);
}
.goclassroom {
  visibility: visible;
  opacity: 1;
}
