body {
    margin: 0;
    overflow: hidden;
}

.absolute {
    position: absolute;
}

.mainwrap {
    background: linear-gradient(70deg, red, transparent), 
                linear-gradient(130deg, blue, transparent),
                linear-gradient(200deg, green, transparent),
                linear-gradient(360deg, teal, transparent),
                linear-gradient(180deg, aquamarine, transparent);
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    display: none;
}

.deckholder {
    width: 95dvw;
    height: 240dvh;
    /* border: 2px solid black; */
    top: 20dvh;
    animation: rotateUp 0.9s ease-in-out;
    display: flex;
    justify-content: center;
    transform-origin: calc(95dvw / 2) calc(240dvh / 2);
    transition: all 1s ease-in-out;
}

@keyframes rotateUp {
    from {
        top: 100dvh;
        rotate: 90deg;
    }
    to {
        top: 20dvh;
        rotate: 0deg;
    }
}

.card {
    background-color: white;
    border-radius: 15px;
    height: 450px;
    width: 320px;
    --cardw: 320px;
    --cardh: 450px;
    transform-origin: 160px 120dvh;
    rotate: calc(45deg * var(--order));    
    border: 1px solid black;
    box-shadow: 3px 3px 8px black;
    transition: all 0.3s ease-in-out;
}

.labelholder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    top: 90dvh;
}

label {
    width: 20px;
    height: 20px;
    border-radius: 30px;
    border: 2px solid black;
    background-color: white;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-align: center;
    font-family: tahoma;
    font-weight: bold;
}

#one:checked ~ .labelholder .one {
    width: 30px;
}

#two:checked ~ .labelholder .two {
    width: 30px;
}

#three:checked ~ .labelholder .three {
    width: 30px;
}

#four:checked ~ .labelholder .four {
    width: 30px;
}

#five:checked ~ .labelholder .five {
    width: 30px;
}

#six:checked ~ .labelholder .six {
    width: 30px;
}

#seven:checked ~ .labelholder .seven {
    width: 30px;
}

#eight:checked ~ .labelholder .eight {
    width: 30px;
}

#one:checked ~ .deckholder{
    rotate: calc(45deg * 0);
}

#two:checked ~ .deckholder{
    rotate: calc(45deg * 1);
}

#three:checked ~ .deckholder{
    rotate: calc(45deg * 2);
}

#four:checked ~ .deckholder{
    rotate: calc(45deg * 3);
}

#five:checked ~ .deckholder{
    rotate: calc(45deg * 4);
}

#six:checked ~ .deckholder{
    rotate: calc(45deg * 5);
}

#seven:checked ~ .deckholder{
    rotate: calc(45deg * 6);
}

#eight:checked ~ .deckholder{
    rotate: calc(45deg * 7);
}

.arrowholder {
    font-family: tahoma;
    font-weight: bolder;
    color:white;
    -webkit-text-stroke: 2px black;
    top: 85dvh;
    font-size: 25px;
}

label:hover {
    font-size: 18px;
}

.card:hover {
    scale: 1.01;
}

.backbtn {
    top: 2dvh;
    left: calc(50dvw - 40px);
    height: 25px;
    width: 90px;
    border: 2px solid white;
    background: linear-gradient(217deg, rgba(7, 85, 85, 0.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(99, 99, 18, 0.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(120, 14, 120, 0.8), rgba(0,0,255,0) 70.71%);
    border-radius: 25px;
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: tahoma;
    font-weight: 550;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    position: absolute;
}

.backbtn:hover {
    scale: 1.54;
    border-color: yellow;
    color: yellow;
}
